.portafolio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.portafolio span:nth-of-type(1){
    color: var(--negro);
    font-size: 2rem;
    font-weight: bold;
}

.portafolio span:nth-of-type(2){
    color: var(--rosa);
    font-size: 2.5rem;
    font-weight: bold;
}

.portafolio .swiper{
    overflow: visible !important;
}

.portafolio-slider{
    margin-top: 3rem;
    width: 100%;
}

.portafolio-slider .swiper-slide{
    width: 20rem;
}

.portafolio img{
    width: 19rem;
    filter: drop-shadow(-12px 15px 13px rgba(0,0,0,0.25));
    border-radius: 19px;
}